
/*    color: rgb(204,255,255);*/
/*    background: rgb(154,153,255);*/
/*    color: rgb(51,51,97);*/
/*    color: rgb(116,102,91);*/
body{
    font-family: sans-serif;
    margin: 0;
}
header{
    width: 100%;
}
.header__top{
    background: rgb(204,255,255);
    padding-top: 19px;
    padding-bottom: 10px;
    padding-left: 22%;
}
.header__mid{
    background: rgb(154,153,255);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 22%;
    padding-right: 22%;
}
.header__logo{
    float: left;
}
.header__nav{
    float: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.header__ul{
    display: flex;
    list-style: none;
    color: rgb(51,51,97);
    font-size: larger;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    padding: 10px;
}
.header__list > ul{
    display: none;
    position: absolute;
    padding-top: 0;
    margin-top: 7px;
}
.destinations__list:hover .destination__list{
    display: block;
    list-style: none;
    background: rgb(204,204,204);
    padding-left: 0;
    padding-right: 23px;
}
.header__destination{
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid black;
}
.header__destination:hover{
    background: rgb(245,245,245);
    color: red;
}
.carrousel{
    background: rgb(204,255,255);
    width: 56%;
    padding-left: 22%;
    padding-right: 22%;
    display: flex;
    justify-content: center ;
    padding-top: 30px;
    border-bottom: 1px solid black;
}
.carrousel__slides{
    padding-top: 45px;
    padding-bottom: 15px;
    /*margin-bottom: -150px;*/
}
.carrousel__slides__md{
    display: none;
}
.carrousel__slides__sm{
    display: none;
}
.carrousel__previous{
    display: block;
    background-image: url("assets/2.png");
    width: 45px;
    height: 45px;
    transform: translate(0%, -470%);
}
.carrousel__next{
    display: inline-flex;
    background-image: url("assets/2.png");
    width: 45px;
    height: 45px;
    background-position: -45px 0;
    transform: translate(1980%, -642%);
}
.carrousel__radio-button{
    display: inline-flex;
    transform: translate(250%, -240%);;
    width: 150px;
}
.carrousel__dot{
    background-image: url("assets/1.png");
    width: 27px;
    height: 27px;
}
.carrousel__dot.active{
    background-image: url("assets/1.png");
    width: 27px;
    height: 27px;
    background-position: 0 -30px;
}
.mid-section{
    padding-left: 22%;
    padding-right: 22%;
    display: flex;
}
.mid-section__part{
    width: 33%;
    padding-top: 50px;
    margin-right: 15px;
}
.mid-section__title{
    background: #b99bff;
    display: flex;
    color: #fff;
    font-size: large;
}
.mid-section__title > img {
    padding: 10px;
}
.mid-section__text{
    color: rgb(116,102,91);
}
.link {
    color: red;
    text-decoration: red;
}
.destinations{
    padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 30px;
    display: block;
    border-bottom: 1px solid black;
}
.destinations___flags{
    display: flex;
    border-top: 1px solid rgb(204,204,204);
}
.destinations__country{
    width: 33%;
    padding-top: 15px;
}
.destinations__flag{
    padding: 5px;
    border: 1px solid rgb(204,204,204);
    border-radius: 3px;
}
.bottom{
    padding-left: 22%;
    padding-right: 22%;
    background: #a4f9f5;
    border-bottom: 1px solid black;
}
.bottom__info{
    display: flex;
    padding-top: 30px;
}
.bottom__title{
    margin-top: 0;
    border-bottom: 1px solid rgb(204,204,204);
    padding-bottom: 10px;
}
.bottom__about-us{
    width: 50%;
    padding-right: 15px;
}
.bottom__why-us{
    width: 50%;
}
.bottom__reasons{
    display: flex;
    padding-bottom: 10px;
}
.bottom__reasons > img{
    padding-right: 20px;
}
button{
    padding: 15px;
    background: rgb(134,176,112);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    font-size: large;
    margin-bottom: 75px;
}
.footer{
    padding-left: 22%;
    padding-right: 22%;
    background: rgb(154,153,255);
}
.footer__list{
    margin-top: 0;
    padding-top: 15px;
    padding-left: 0;
    display: flex;
    list-style: none;
}
.footer__list > li{
    padding-right: 30px;
    font-size: smaller;
}
.footer > p{
    font-size: smaller;
    color: rgb(116,102,91);
    margin-bottom: 0;
    padding-bottom: 75px
}
@media screen and (max-width: 1240px){
    .header__mid{
        padding-left: 10%;
    }

}
@media screen and (max-width: 992px) {
    .header__ul{
        font-size: medium;
    }
    .header__nav{

    }
    .header__mid > img{
        height: 65px;
        width: 200px;
    }
    .header__top{
        padding-left: 3%;
        padding-right: 3%;
    }
    .header__mid{
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        flex-wrap: wrap;
    }
    .header__logo{
        display: block;
        width: 100%;
    }
    .header__nav{
        display: block;
        width: 100%;
    }
    .carrousel{
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }
    .mid-section{
        padding-left: 3%;
        padding-right: 3%;
    }
    .destinations{
        padding-left: 3%;
        padding-right: 3%;
    }
    .bottom{
        padding-left: 3%;
        padding-right: 3%;
    }
    .footer{
        padding-left: 3%;
        padding-right: 3%;
    }
    .carrousel__slides__lg > img {
    height: 270px;
    width: 705px;
    }
    .carrousel__next{
        display: inline-flex;
        background-image: url("assets/2.png");
        width: 45px;
        height: 45px;
        background-position: -45px 0;
        transform: translate(1450%, -550%);
    }
    .carrousel__radio-button{
        display: inline-flex;
        transform: translate(200%, -220%);;
        width: 150px;
    }
    .carrousel__previous{
        display: block;
        background-image: url("assets/2.png");
        width: 45px;
        height: 45px;
        transform: translate(0%, -375%);
    }
}
@media screen and (max-width: 768px) {
    
}