
body{
    font-family: "Open sans", sans-serif;
    margin: 0;
}

.header__top{
    background-color: #a4f9f5;
    width: 100%;
    margin-left: 25%;
}
.header{
    width: 100%;
    background-color: #a4f9f5;
}
.header__mid{
    width: 100%;
    background-color: #b99bff;
    display: flex;
    justify-content: center;
}
.header__logo{
    margin-right: 5%;
}
.header__ul{
    display: inline-flex;
    list-style: none;

}
.header__list{
    padding: 10px;
}
.carrousel{
    background-color: #a4f9f5;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.carrousel__slides{
    max-width: 56.16%;
    position: relative;
}
.carroussel__photo{
    display: none;
}
.carrousel__next, .carrousel__previous{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.carrousel__next {
    right: 0;
    border-radius: 3px 0 0 3px;
    opacity: 80%;
}
.mid-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.mid-section__part{
    width: 16.5%;
}
.mid-section__title{
    display: inline-flex;
    background-color: #b99bff;
}
.margin{
    margin-right: 10px;
}
.destinations___flags{
    display: flex;
    justify-content: center;
}
.destinations__france{
    border: 1px;
    border-color: dimgray;
    padding: 5px;
    width: 16.5%;
}
.destinations__brazil{
    border: 1px;
    border-color: dimgray;
    padding: 5px;
    width: 16.5%;
}
.destinations__flag3{
    border: 1px;
    border-color: dimgray;
    padding: 5px;
    width: 100%;
}
.destination__title{
    margin-left: 25%;
}
.mid-section__title1, .mid-section__title2, .mid-section__title3{
    color: white;
}